@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-bold tracking-wide text-[#14213D] font-mono tracking-widest
    }
}

@layer components {
    .social {
        @apply hover:scale-90 transition-all ease-in-out
    }
}